[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pyhcl2"
version = "1.0.0"
description = ""
authors = ["RISQ Capital <dev@risqcapital.com>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "pyhcl2", from = "src" }]
classifiers = []
keywords = []

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/risqcapital/pyhcl2/issues"
# Documentation = ""
# Homepage = ""
Repository = "https://github.com/risqcapital/pyhcl2"

[tool.poetry.dependencies]
python = ">= 3.8, < 4"
termcolor = "^2.4.0"
lark = "^1.1.9"

[tool.poetry.dev-dependencies]
ruff = "*"
types-dataclasses = "^0.6.5"
types-termcolor = "^1.1.4"

[tool.ruff.lint]
extend-select = [
    "W",  # pyflakes warnings
    "I", # isort
    "N", # pep8 naming
    "UP", # pyupgrade
    "ANN", # flake8 annotations
    "ERA", # eradicate
    "PL", # pylint
    "TRY", # tryceratops
    "RUF", # ruf,
    "FA102" # future-required-type-annotation
]

extend-ignore=[
    "ANN101",
    "ERA001",
    "TRY003",
]